<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">
    <a href="#" routerLink="/home">
      <img src="assets/images/default.png" title="pokedex" class="mr-3" width="60px" height="60px" alt="logo">
    </a>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
  </form>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="logout()">Cerrar sesión</button>
</nav>
