<div class="card poke-card animated zoomIn">
  <div class="card-header">
    <a href="#" (click)="onSelectPokemon($event)">
      <img [src]="data?.sprites?.front_default || 'assets/images/default.png'"
           class="card-img-top default-image" alt="imagen">
    </a>
  </div>
  <div class="card-body">
    <a href="#" (click)="onSelectPokemon($event)">
      <h5 class="card-title">{{data?.name || 'Cargando...'}}</h5>
    </a>
    <a href="#" class="badge badge-secondary ml-2 font-weight-normal" *ngIf="!data?.types">Cargando...</a>
    <a href="#" class="badge badge-secondary ml-2 font-weight-normal bg-yellow"
       *ngFor="let type of data?.types">
      {{type?.type?.name}}
    </a>
  </div>
</div>
